.venv/
venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/

.idea
.vscode

data/raw/*
data/processed/*

artifacts/*
!artifacts/.gitkeep
mlruns

*.csv
*.parquet
*.joblib
*.db
mlflow.db
*.sqlite

.DS_Store
Thumbs.db
.env
PATCH.md
TODOS.md
